.search-content{
    position: fixed;
    margin-top: 45px;
    width: 87%;
    margin-left: 20px;
}
#search-form{
    margin-top: 20px;
    border-bottom: 1px solid #BEBCBD;
}
#search-form span{
    margin-right: 20px;
}

.errorInfo{
    text-align: center;
    color: red;
    margin-top: 10px;
}

#search{
    border: 1px solid #B3C780;
    width: 43%;
    text-align: center;
    margin: 0 auto;
    height: 40px;
    margin-top: 20px;
    font-size: 20px;
    color: #B3C780;
    padding-top: 4px;
}
.userInfo{
    position: absolute;
    top:60px;
    width:100%;
    text-align: center;
}
#add-contact{
    width: 100%;
}
#addToContact{
    border: 1px solid #B3C780;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    height: 40px;
    margin-top: 20px;
    font-size: 20px;
    color: #B3C780;
    padding-top: 4px;
}