<div>
    <div class="header">
        <div class="back-icon" ng-click="backToMe()"><i class="weChat-icon">&#xea40</i></div>
        <div class="content">Change Password</div>
    </div>
    <form id="change-password">
        <fieldset>
            <div class="user-info">
                <span><i class="weChat-icon" style="color: #BEBCBD">&#xe98f</i></span>
                <input id="password" type="password" placeholder="NewPassword" required ng-model="psw">
            </div>
            <div class="user-info">
                <span><i class="weChat-icon" style="color: #BEBCBD">&#xe98f</i></span>
                <input id="ConPsd" type="password" placeholder="Confirm New Password" required ng-model="conPsw">
            </div>
        </fieldset>

        <fieldset>
            <input type="submit" class="login-action" id="commit" value="Commit" ng-click="changePassword()">
            <input type="reset" class="login-action" id="reset" value="Reset">
        </fieldset>
    </form>
</div>