<div id="chatting-div">
    <div id="chatting-wrapper">
        <div class="chating-list">
            <div class="xiaoxiti-item" ng-repeat="msg in messages">
                <div class="xiaoxiti" ng-class='{"msg-right":!isCurrentUser(msg),"msg-left":isCurrentUser(msg)}'>
                    <div class="user-img">
                        <img ng-src="{{targetIcon | imgFilter}}" ng-if="!isCurrentUser(msg)" />
                        <img ng-src="{{icon | imgFilter}}" ng-if="isCurrentUser(msg)" />
                    </div>
                    <div class="msg">
                        <div class="msg-arrow"><img src="img/blue_arrow.png" /></div>
                        <div class="msg-body">{{msg.content}}</div>
                    </div>
                </div>
                <div class="msg-time">{{msg.date | date :' yyyy-MM-dd HH:mm'}}</div>
            </div>
         </div>
    </div>
    <div class="chat-box">
        <textarea ng-model="msgContent" class="msg-txt" id="msg-txt" />
        <input type="button" class="btn btn-primary pull-right" value="send" ng-click="send()"/>
    </div>
</div>