<div id="main-div">
    <div class="header">
        <div class="appName">Matrix CZ Social network</div>
        <div id="addContact" ng-click="addContact()"><i class="weChat-icon">&#xe973</i></div>
    </div>
    <div class="main-page" ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()">
        <div ui-view id="page-container" ng-class="{'left':swipe.isToLeft, 'right':swipe.isToRight}"></div>
    </div>
    
    <div class="footer">
        <div id="chat" ui-sref="main.chat-list" ui-sref-active="selected">
            <div><i class="weChat-icon">&#xe96b</i></div><!--ng-click="chatList()"-->
            <div>Chat</div>
        </div>
        <div id="contact" ui-sref="main.contact-list" ui-sref-active="selected">
            <div><i class="weChat-icon">&#xe972</i></div><!-- ng-click="contactList()"-->
            <div>Contact</div>
        </div>
        <div id="me" ui-sref="main.current-user" ui-sref-active="selected">
            <div><i class="weChat-icon">&#xe971</i></div><!--"selfInfo()"-->
            <div>Me</div>
        </div>
    </div>
</div>