<div id="main-div">
    <div class="header">
        <div class="appName">Matrix CZ Social network</div>
        <div id="addContact" ng-click="addContact()"><i class="weChat-icon">&#xe973</i></div>
    </div>
    <ui-view></ui-view>
    <div class="footer">
        <div id="chat">
            <div ng-click="chatList()"><i class="weChat-icon">&#xe96b</i></div>
            <div>Chat</div>
        </div>
        <div id="contact">
            <div ng-click="contactList()"><i class="weChat-icon">&#xe972</i></div>
            <div>Contact</div>
        </div>
        <div id="me">
            <div ng-click="selfInfo()"><i class="weChat-icon">&#xe971</i></div>
            <div>Me</div>
        </div>
    </div>
</div>