<div id="request-div">
	<div class="header">
		<div class="back-icon" ng-click="back()">
			<i class="weChat-icon">&#xea40</i>
		</div>
		<div class="content">Request List</div>
	</div>
	
	<div id="request-list-wrapper">
		<div class="no-data" ng-if="requests.length==0">no datas</div>
		<ul class="request-list">
			<li ng-repeat="request in requests">
				<img ng-src="{{request.user.icon | imgFilter}}">
				<span>{{request.user.username}}</span>
				<span class="pull-right" ng-if="request.cr.status==2">already reject</span>
				<span class="pull-right" ng-if="request.cr.status==1">already approve</span>
				<span ng-if="request.cr.status==0">
					<span class="pull-right" ng-click="changeStatus($index,request.cr.userId,1)">Approve</span>
					<span class="pull-right">&nbsp;|&nbsp;</span>
					<span class="pull-right" ng-click="changeStatus($index,request.cr.userId,2)">Reject</span>
				</span>
				<hr />
			</li>
		</ul>
	</div>
</div>