<div id="search-user">
    <div class="header">
        <div class="back-icon" ng-click="back()"><i class="weChat-icon">&#xea40</i></div>
        <div class="content">Add Contact</div>
    </div>
    <div class="search-content">
        <div id="search-form">
            <span><i class="weChat-icon" style="color: green;font-size: 24px;">&#xe986</i></span>
            <input id="userId" type="text" placeholder="ID" autofocus required>
        </div>
        <div id="searchError" class="errorInfo hidden">Sorry,the user doesn't exist!</div>
        <div id="search" ng-click="searchUser()">Search</div>
    </div>
</div>